@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
  font-family: 'VT323', serif;
  font-size: 30px;
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  text-align: center;
  margin: 0;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  background-color: #ffffff;
  padding: 0px 50px 50px 50px;
  align-items: center;
  flex-direction: column;
}

.aside-left,
.aside-right {
  padding-top: 5%;
  height: 100%;
  Width: 50%;
  color: black;
  background-image: linear-gradient(#ffffff, #2c3e50);
  font-size: 50px;
}

.game-board-container {
  width: 500px;
	height: 500px;
  background-color: #ffffff;
  display: grid;
  justify-content: center;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  margin-top: 50px;
}

.box {
  border: 2px solid #2c3e50;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  cursor: pointer;
}

.box:hover {
  background-color: #efefef;
}

.game-board-header {
  font-size: 80px;
  height: 200px;
}

.mario-image,
.DK-image {
  background-color: #ffffff;
  width: 10%;
  padding: 5%;
}

.DK-image{
  width: 18%;
}

.left-bar-img,
.right-bar-img {
  background-color: transparent;
  height: 150px;
}

.current-turn-display {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box0 {
  border-left: none;
  border-top: none;
}

.box1 {
  border-top: none;
}

.box2 {
  border-top: none;
  border-right: none;
}

.box3 {
  border-left: none;
}

.box5 {
  border-right: none;
}

.box6 {
  border-left: none;
  border-bottom: none;
}

.box7 {
  border-bottom: none;
}

.box8 {
  border-right: none;
  border-bottom: none;
}
